<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GPP - @ViewBag.Title</title>
    <link REL="SHORTCUT ICON" href="@Url.Content("~/Content/images/nib.ico")">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/graphing.js")" type="text/javascript"></script>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> 

<script type="text/javascript" 
   src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

  <style>
   /*
    CSS rules to use for styling the overlay:
      .chromeFrameOverlayContent
      .chromeFrameOverlayContent iframe
      .chromeFrameOverlayCloseBar
      .chromeFrameOverlayUnderlay
   */
  </style> 

  <script type="text/javascript">
      // You may want to place these lines inside an onload handler
      CFInstall.check({
          mode: "overlay"
      });
  </script>


</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1 style="display:block"><img alt="nib" src="@Url.Content("~/Content/images/logo.jpg")" /> Graphical Project Portfolio</h1>
            </div>
            <div id="logindisplay">
                Welcome User!
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Display", "Index", "Projects")</li>
                     <li>@Html.ActionLink("Projects", "AllProjects", "Projects")</li>
                    <li>@Html.ActionLink("Events", "AllEvents", "Events")</li>
                    <li>@Html.ActionLink("Types", "AllTypes", "Events")</li>
                    <li>@Html.ActionLink("Timeframes", "AllTimeframes", "Projects")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
            <p>Developed for the PMO by AOB</p>
        </footer>
    </div>
</body>
</html>
