@model IEnumerable<GPP.Library.TimeframesViewModel>

@{
    ViewBag.Title = "AllTimeframes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Timeframes</h2>

<p>
    @Html.ActionLink("Add Timeframe", "AddTimeframe")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Months
        </th>
        <th>
            Default
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Months)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultValue)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteTimeframe", new { id=item.Id })
            @Html.ActionLink("Default", "DefaultTimeframe", new { id=item.Id })
        </td>
    </tr>
}

</table>
