@model GPP.Library.ProjectViewModel

@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Project</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Project Details</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BaselineStart)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BaselineStart, new { type = "date" })
            @Html.ValidationMessageFor(model => model.BaselineStart)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BaselineFinish)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BaselineFinish, new { type = "date" })
            @Html.ValidationMessageFor(model => model.BaselineFinish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Closed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Closed)
            @Html.ValidationMessageFor(model => model.Closed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Owner)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Owner, ViewBag.Divisionz as SelectList)
           
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "AllOpenProjects")
</div>
